pytest==6.2.4
pytest-cov==4.1.0
diff_cover==9.2.1
pytest-asyncio==0.14.0
httpx==0.18.2
-r backend/ai-service/requirements.txt
-r backend/game-service/requirements.txt
-r backend/user-service/requirements.txt